.header-row{
    background-color: #395A7F;
    .header-cols{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px;
        .letter-style{

            color: white;
            font-weight: 700;
            font-size: small;
            writing-mode: vertical-rl;
            text-orientation: mixed; 
            text-align: center;
            padding:5px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .letter-style{

        color: white;
        font-weight: 700;
        font-size: small;
        writing-mode: vertical-rl;
        text-orientation: mixed; 
        text-align: center;
        padding: 0px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }


    .uuid-text{
        display: flex;
        justify-content: center;
        align-items: center;
        p{
            color: white;
            font-weight: 700;
            font-size: small;
            margin: auto;
        }
        
    }
}
.header-row{
    background-color: #395A7F;
}










