.midhalf{
    text-align: center;
    color: black;
    font-weight: 700;
    font-size: 15px;
    padding: 10px;
    // border: none;
    // border: 1px solid black;
}
.full-border{
  border-left: 1px solid black;
}
// .right-border{
//   border-right: 1px solid black;
// }