.blue-background{
    background-color: blue;
}
.yellow-background{
    background-color: yellow;
}
.product-columns{
    text-align: center; 
}
.unmask-box{
    cursor: pointer;
    
}
.diode-box{
    cursor: pointer;
       
}
.left-diode{
    background-color: red; 
}
.products{
    font-weight: 700;
}
