.title-row{
    background-color: #395A7F;
    .ru-title{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        p{
            margin: auto;
            color: white;
            font-weight: 700;
        }
    }
}
