@media screen and (max-width: 992px) {
	.ios-class {
		height: 94%;
		width: 80%;
		border: 1px solid black;
		position: absolute;
		top: 51.9%;
		left: 50%;
		transform: translate(-50%, -50%);
		p {
			font-weight: 700;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}

@media screen and (min-width: 991px) {
	.ios-class {
		height: 89%;
		width: 50%;
		border: 1px solid black;
		position: absolute;
		top: 53.5%;
		left: 50%;
		transform: translate(-50%, -50%);
		p {
			font-weight: 700;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}
