.grid-cols{
    writing-mode: vertical-rl;
    text-align: center;
    color: white;
    font-weight: 900;
    background-color: black;
    border-bottom: 3px solid black;
}
// .product-cols{
//     background-color: red;
// }


